body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Helvetica;
}

a {
  color: gray;
  transition: color 0.2s;
}

a:hover {
  color: #525252;
}

.small {
  font-size: 80%;
th, td {
  border: 1pt solid black;
}


.wrapper {
  width: 600px;
  margin: auto;
}

.top-content {
  border-bottom: 1pt solid gray;
  margin-top: 120px;
}

.main-header {
  font-size: 72px;
  color: #FF4377;
  margin-bottom: 20px;
}

.sub-header {
  font-size: 20px;
  color: grey;
  margin-bottom: 50px;
}

.button {
<<<<<<< HEAD
  border: 3px solid #5271FF;
  border-radius: 3px;
  padding: 10px 20px;
  display: inline-block;
  margin: 20px;
  position: relative;
  transition: background-color 0.2s;
  transition: color 0.2s;
}

.button:hover {
  background-color: #5271FF;
  color: white;
  cursor: pointer;
}

.button .dropdown {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  border: 1pt solid grey; 
}

.button:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown .dropdown-item {
  color: black;
  padding: 10px 20px;
  background-color: white;
  transition: background-color 0.2s;
  text-align: left;
}

.dropdown .dropdown-item:hover {
  background-color: lightgray;
}

.bottom-content {
  margin-top: 30px;
}

.footer-header {
  color: gray;
  margin-bottom: 15px;
}

.footer-credit {
  font-size: 14px;
}












