<div ng-controller="FeedCtrl">
  <h2>The Props Feed</h2>
  <a href="#/me">View my props</a>
  <textarea class="form-control" placeholder="Type something positive here :)"></textarea>
  <div class="row">
    <div class="col-md-4">
      <select class="form-control">
        <option value="1">Rafi</option>
        <option value="2">Allie</option>
        <option value="3">Gabe</option>
        <option value="4">Ben</option>
      </select>
    </div>
    <div class="col-md-4">
      <div class="btn btn-info">Validate and send!</div>
    </div>
  </div>
</div>